.div{
  height: 100px;
  width: 100px;
  background-color: #F27329;
  color: white;
  text-align: center;
  line-height: 100px;
}

.container {
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: row;
}